<div class="jumbotron">
  <h1 class="display-4">Processos e realização</h1>
  <hr class="my-4">
  <p> Para que o desafio pudesse ser realizado, foi organizado anteriormente no aplicativo Trello. </p>
  <p> Escolhi iniciar o projeto utilizando o Trello, pois me possibilita usar métodos ágeis para organizar o
    desenvolvimento
    do projeto, inclusive o mesmo mescla SCRUM com KANBAN. </p>
  <br>
  A stack utilizada foi:

  Ruby versão ruby 2.5.1
  <br>
  Rails versão 5.2.3
  <br>
  Sqlite
  <br>
  E para produção eu irei trocar o SQLite por um Postgresql. </p>
  <br>
  <p>O Rubocop me ajudou a ter um código limpo e organizado e o SimpleCov me ajudou na verificação na cobertura dos meus
    testes. No tocante aos testes, eu prefiro os testes de interação mais do que os de unidade, porque os mesmos
    certificam melhor a funcionalidade do aplicativo como um todo.
  </p>

  <p>Todas as Gems usadas estão no projeto do Trello que deixarei disponível aqui.</p>

  <p> Gems utilizadas: </p>
  <ul>
    <li>Gem Bootstrap</li>
    <li>Gem Rspec</li>
    <li>Gem Capybara</li>
    <li>Gem SimpleCov</li>
    <li>Gem Rubocop</li>
    <li>Gem Geocode</li>
    <li>Gem FactoryBot</li>
    <li>Gem Faker</li>
    <li>Gem Shoulda Matchers</li>
  </ul>
  <br>

  <p>A única Gem que está, mas não foi usada, é a do Geocode. Ela serviria para pegar as coordenadas.
    E com isso, eu usaria o HTML para a verificação das coordenadas do usuário. Porém, não houve muito tempo.</p>

  <p>Nesse projeto, utilizei o Docker também, já que o mesmo facilita e deixa os ambientes iguais. Ele ajuda na parte de
    DEV/OPs para subir a aplicação depois.
    A utilização do Docker ajuda na escalabilidade. A Máquina é configurada mais rápida e deixando livre para programar
    em qualquer lugar.</p>

  <p>Pretendo dar continuidade ao projeto fazendo um deploy no Heroku, e adicionar o Travis como CI.</p>
  <br>

  <p> Links para o Github e Trello:<p>
  <a href="https://trello.com/b/ffs5lL9x/challenge-geo">Trello</a>
  <br>
  <a href="https://github.com/angelorange/timetracking_challenge">Github</a>
</div>

