<div class="jumbotron">
  <h1 class="display-4">Welcome to the Timetracking Challenge</h1>
  <p class="lead"></p>
  <hr class="my-4">
  <p></p>
  <%= link_to 'About the project', about_path , class: "btn btn-primary btn-lg" %>
</div>